.main-container {
  position: absolute;
  top: 11%;
  left: 5%;
  height: 78%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1.5rem;
}

.font-family {
  font: italic small-caps bold 12px/30px Georgia, serif;
}