<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <!-- Install Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/handy.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/btm-nav.css' %}" rel="stylesheet">

</head>

<body style="background-color:#154D86">
    <!-- Top Navbar -->
    <nav class="navbar fixed-top navbar-dark">
        <div class="container-fluid">
            <button class="btn navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- End Top Navbar -->

    <!-- Off canvas Menu -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel" style="font: bold 30px sans-serif; color:white;position:absolute;left:8%;top:2%">SleepSoon</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="position:absolute;right:4%;top:1%"></button>
        </div>
        <div class="offcanvas-body">
            <div style="position:fixed;top:25%;left:0%;width:100%;">
                <div style="font: italic 20px sans-serif; color:white;position:relative;left:4%">Nicole</div>
                <br/>
                <div class="btn-group-vertical rounded-0" style="width:250px; position:absolute; left:0%;">
                    <button type="button" class="btn" style="text-align:left;background-color:#4a5a6b;color:white">
                        <img src="{% static 'svg/profile1.svg' %}" />  Profile</button>
                    <button type="button" class="btn" style="text-align:left;background-color:#4a5a6b;color:white">
                        <img src="{% static 'svg/invite1.svg' %}"/>  Invite a Friend</button>
                    <button type="button" class="btn" style="text-align:left;background-color:#4a5a6b;color:white">
                        <img src="{% static 'svg/settings1.svg' %}" />  Settings</button>
                </div>
            </div>
            <div style="position:absolute;bottom:3%;color:white;"><img src="{% static 'svg/feedback1.svg' %}" />      Feedback</div>
        </div>
    </div>
    <!-- End off canvas Menu -->

    <!-- Main Body -->
    <div class="main-container">
        <div class="pg-title">My Nightly Routine</div>
        <div>
            
        </div>
    </div>
    <!-- End Main Body -->

    <!-- Bottom-Nav -->
    <div class="btm-nav-bar">
        <div onclick="location.href='/g15/home'" class="nav-btn" style="width: 10%">
            <img src="{% static 'svg/home1.svg' %}" />
        </div>
        <div onclick="location.href='/g15/tracker/'" class="nav-btn">
            <img src="{% static 'svg/tracker2.svg' %}" />
        </div>
        <div onclick="location.href='/g15/explore'" class="nav-btn">
            <img src="{% static 'svg/add1.svg' %}" />
        </div>
        <div onclick="location.href='/g15/leaderboard'" class="nav-btn">
            <img src="{% static 'svg/leader1.svg' %}" />
        </div>
        <div onclick="location.href='/g15/social'"" class=" nav-btn" style="width: 10%">
            <img src="{% static 'svg/social1.svg' %}" />
        </div>
    </div>
    <!-- End Bottom-Nav -->

    <!-- Bootstrap Javascript utils -->
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>