@import "../node_modules/bootstrap/scss/bootstrap";

$offcanvas-horizontal-width: 250px;
$offcanvas-transition-duration: .3s;
$offcanvas-bg-color: #1C3146;


@import "../node_modules/bootstrap/scss/bootstrap";